.App {
  text-align: left;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.inner {
  width: 100%;
  padding: 8rem 10px 4rem;
}

.form-container {
  width: 90%;
  margin-bottom: 20px;
  border-radius: calc(0.1 * 100px);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.38);
}

.input-text {
  font-size: 1rem;
  font-weight: 400;
  width: 70%;
  padding-right: 5px;
  padding-left: 10px;
  margin-left: 20px;
  height: 45px;
  outline: none;
  border: none;
}